/* Put your custom CSS here */

.ui-body-a, .ui-overlay-a {
	background: #fff url(images/html-bg.png) 0 10px repeat-x;;
}

a.ui-link {
	color: blue;
	text-shadow: none;
}

/* Listview specific styling */

.ui-listview .ui-bar-a {
	border: 1px solid #b1b1b1 /*{a-bar-border}*/;
	background: #e6e6e6 /*{a-bar-background-color}*/;
	color: #555555 /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: none;
}

.ui-listview .ui-bar-a .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}
.ui-listview .ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}
.ui-listview .ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}
.ui-listview .ui-bar-a a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}
.ui-listview .ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-listview .ui-btn-up-a {
	border: 1px solid #fff /*{a-bup-border}*/;
	border-right: 1px solid #b1b1b1;
	border-left: 1px solid #b1b1b1;
	background: #f5f5f4 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #fff /*{a-bup-color}*/;
	text-shadow: none;
}

.ui-listview  .ui-li-last, .ui-listview .ui-li-last:hover {
	border-bottom: 1px solid #b1b1b1;
}

.ui-listview .ui-btn-up-a:visited,
.ui-listview .ui-btn-up-a a.ui-link-inherit {
	color: #555555 /*{a-bup-color}*/;
}

.ui-listview .ui-btn-hover-a {
	border: 1px solid #fff /*{a-bup-border}*/;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: rgba(100%,100%,100%,0.5);
	font-weight: bold;
	color: #3465a4;
	text-shadow: none;
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #3465a4; /*{a-bhover-color}*/;
}

.ui-listview .ui-btn-active {
	border: 1px solid #bfcee1 /*{global-active-border}*/;
	background: #dde5ef url(images/focus-bg.png) top repeat-x;
	font-weight: bold;
	color: #fff /*{global-active-color}*/;
	cursor: pointer;
}

.ui-listview .ui-btn-active:visited,
.ui-listview .ui-btn-active:hover,
.ui-listview .ui-btn-active a.ui-link-inherit {
	color: #000 /*{global-active-color}*/;
}


/* Switches between buildbot-happy.png and buildbot-sad.png depending on the state of the build server*/
.buildstatus {
	margin: auto;
	width: 288px;
	height: 200px;
	position: relative;
	background-color: #fbfbfb;
	border: 1px solid #b8b8b8;
}

.buildstatus-happy {
	background-image: url('images/buildbot-happy.png');
}

.buildstatus-sad {
	background-image: url('images/buildbot-sad.png');
}

.ui-header {
	background: none;
	border: none;
}

.ui-navbar li:first-child a {
	border-radius: 10px 0px 0px 10px;
}

.ui-navbar li:last-child a {
	border-radius: 0px 10px 10px 0px;
}

.ui-navbar li a:hover {
	color: #fff;
}

.ui-navbar li .ui-btn-icon-top .ui-btn-inner {
	padding: 15px;
}

.ui-header .ui-title {
	text-shadow: none;
	color: #000;
}

.time {
	float: right;
}

p {
  text-shadow: none;
  color: #000;
  text-align: center;
}

@media all and (min-width: 960px) {
	.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
	padding-top: 50px;
	width: 960px;
	margin: auto;
	position: relative;
	}
}
