body {
  padding-top: 80px;
}

.content {
    padding-left: 17%;
}

.task-failed {
    font-weight: bold;
    color: red
}

.task-succeded {
    color: green;
}

.task-running {
    color: blue;
    font-weight: italic;
}

.changed-component {
    margin-left: 20px;
}

.commit {
    margin-left: 20px;
}

.app {
    padding: 1em;
    float: left;
    text-align: center;
}

.app .icon, .app .icon img {
    width: 96px;
    height: 96px;

    position: relative;
}

.app .emblem {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.app.good .emblem {
    background-image: url(images/app-good.png);
}

.app.bad .emblem {
    background-image: url(images/app-bad.png);
}