<!doctype html>
<html ng-app="build.gnome.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="bootstrap-theme.min.css" rel="stylesheet">
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
  <script src="angular.min.js"></script>
  <script src="angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</head>
<body>
  <div class='navbar-header container-fluid navbar navbar-inverse navbar-fixed-top'>
    <h1><a class="navbar-brand" href="https://wiki.gnome.org/Projects/GnomeContinuous">GNOME-Continuous</a></h1>
  </div>

  <div class='container-fluid'>
    <div ng-controller="ContinuousHomeCtrl" id="sidebar" class="nav nav-sidebar row col-sm-3 col-md-2" role="navigation">
      <ul class="list-group">
      <li ng-repeat="build in builds" class='list-group-item list-group-item-success' ng-class="{
        'list-group-item-danger': build.failed.indexOf('resolve') > -1,
        'list-group-item-danger': build.failed.indexOf('build') > -1,
        'list-group-item-warning': build.failed.indexOf('smoketest') > -1,
        'list-group-item-warning': build.failed.indexOf('smoketest-classic') > -1}"
        >
        <a href="#/build/{{build.name}}">Build {{build['name']}}</a>
        <span class='badge' ng-if='build.failed.length > 0'>!</span>
      </li>
      </ul>
    </div>

    <div ng-view class="content"></div>
  </div>

</body>
</html>
