<article>
  <h1>GNOME-Continuous (resolve log)</h1>
  <p>This page shows all the resolved snapshots for a particular day.</p>

  <div ng-repeat="snapshot in snapshots">
    <a href="{{ snapshot.href }}">Build {{ snapshot.version }}</a>:
    <span ng-if="snapshot.bdiff != null">
      <div ng-repeat="modified in snapshot.bdiff.modified">
	<span ng-init="expand=false" ng-click="expand=!expand">{{ modified.previous.name }}: {{ modified.gitlog.length }} commits <span style="text-decoration: underline"><span ng-show="expand">[Hide]</span><span ng-show="!expand">[Show]</span></span>
	<span ng-show="expand">
	  <pre>{{ modified.diffstat }}</pre>
	  <div ng-repeat="commit in modified.gitlog | limitTo:commitLimit">
	    <span>{{commit.Checksum.substring(0,8)}} {{ commit.From }} : {{ commit.Subject }}</span>
	  </div>
	  <div ng-if="modified.gitlog.length > commitLimit">... {{ commitLimit - modified.gitlog.length }} more</div>
	</span>
      </div>
    </span>
    <span ng-if="snapshot.loading">Loading...</span>
    <span ng-if="snapshot.bdiff == null && !snapshot.loading">(No bdiff generated)</span>
    <br>
  </div>
</article>
