<article>
  <h1>GNOME Build Status</h1>
  <a class="machine" href="#/jhbuild-ubuntu-raring">
    <div class="content">
      <h3>jhbuild (Ubuntu Raring)</h3>
      <p>This builder uses JHBuild on Ubuntu Raring.</p>
    </div>
  </a>
  <a class="machine" ng-controller="ContinuousStatusCtrl" ng-class="status" href="#/gnome-continuous">
    <div class="content">
      <h3>GNOME-Continuous</h3>
      <p>Custom build system; produces disk images that can be updated from an OSTree repository.</p>
    </div>
    <div class="status">{{ buildName }}</div>
  </a>
</article>
