<div>
  <h1>GNOME Build Status</h1>
  <ul>
    <li><a href="#/jhbuild-ubuntu-raring">
	<h3>jhbuild (Ubuntu Raring)</h3>
	<p>This builder uses JHBuild on Ubuntu Raring.</p>
	<p><strong>status unknown</strong></p>
    </a></li>
    <li><a href="#/gnome-continuous">
	<h3>GNOME-Continuous</h3>
	<p>Custom build system; produces disk images that can
	  be updated from an OSTree repository.</p>
	<p><strong>status unknown</strong></p>
    </a></li>
  </ul>
  <p>This site is maintained in
    the <a href="http://git.gnome.org/browse/gnome-continuous">gnome-continuous</a>
    git module.</p>
</div>
